{% extends 'layout/basic.html' %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'accounts/registration.css' %}">
{% endblock %}
{% block content %}
<div class="text_content">
  <h1>Регистрация</h1>
  <form method="post">
    {% csrf_token %}
    {% for error in form.non_field_errors %}
    <p class="error">{{ error }}</p>
    {% endfor %}
    {% for field in form %}
    <p>
      {{ field.label_tag }}
      <br>
      {{ field }} {{ field.help_text }}
      {% if field.auto_id == 'id_password1' %}
      <ul class="pass_help">
        <li>Ваш пароль не должен содержать личные данные.</li>
        <li>Ваш пароль должен содержать как минимум 8 символов.</li>
        <li>Ваш пароль не должен быть часто употребляемым.</li>
        <li>Ваш пароль не может содержать только цифры</li>
      </ul>
      {% endif %} 
      {% for error in field.errors %}
        <p class="errors">{{ error }}</p>
      {% endfor %}
    </p>  
    {% endfor %}
    <input type="submit" value="Регистрация">
  </form>
</div>
{% endblock %}
