{% extends 'layout/basic.html' %}
{% load static %}
{% load sh_blog_extras %}
{% block styles %}
    <link rel="stylesheet" href={% static 'sh_blog/detail.css' %}>
{% endblock %}
{% block scripts %}
<script>
  
  function insertTextAtCursor(el, text, offset) { //Эту функцию я украл
    var val = el.value, endIndex, range, doc = el.ownerDocument;
    if (typeof el.selectionStart == "number"
            && typeof el.selectionEnd == "number") {
        endIndex = el.selectionEnd;
        el.value = val.slice(0, endIndex) + text + val.slice(endIndex);
        el.selectionStart = el.selectionEnd = endIndex + text.length+(offset?offset:0);
    } else if (doc.selection != "undefined" && doc.selection.createRange) {
        el.focus();
        range = doc.selection.createRange();
        range.collapse(false);
        range.text = text;
        range.select();
    }
}
  function test(){ //а эту частично
    const request = new XMLHttpRequest();
    const url = "{% url 'sh_blog:like' 1 post.id %}";

    request.open('GET', url);
    request.setRequestHeader('Content-Type', 'application/x-www-form-url');
    request.addEventListener("readystatechange", () => {
      if (request.readyState === 4 && request.status === 200) {
        console.log(request.responseText);
        if(request.responseText == "-1"){
          window.location.replace("/accounts/login/");
          return true;
        } else {
          if (request.responseText != "0"){
            document.getElementById('id_like_count').innerHTML = request.responseText;
          } else {
              document.getElementById('id_like_count').innerHTML = "";
            }
            if (document.getElementById('id_like1')){
              document.getElementById('id_like1').src="{% static 'sh_blog/empty_heart.png' %}";
              document.getElementById('id_like1').id="id_like0";
            } else {
              document.getElementById('id_like0').src="{% static 'sh_blog/filled_heart.png' %}";
              document.getElementById('id_like0').id="id_like1";
            }    
        }
      }
    });
    request.send();
    
  }
</script>
{% endblock %}
{% block title %}
{{ post.title }}
{% endblock %}
{% block content %}
<div class="text_content">
  <div class="title_like">
    <h1 class="title">{{ post.title }}</h1>
    {% if post|is_fan:user %}
      <a href="#" onClick="test()"><img src={% static "sh_blog/filled_heart.png" %} class="like" id="id_like1"></img></a>
    {% else %}
      <a href="#" onClick="test()"><img src={% static "sh_blog/empty_heart.png" %} class="like" id="id_like0"></img></a>
    {% endif %}
  </div>
  <p class="like_count" id="id_like_count">
    {% if post.total_likes %}
    {{post.total_likes}}
    {% endif %}
  </p>
  <br>
  <ul class="date_author">
    <li class="date">{{ post.created }}</li>
    <li class="author">{{ post.author }}</li>
  </ul>
    {% if post.image %}
      <img src={% static post.image %} class="post_image">
    {% endif %}
    <p>{{ post.body|safe }}</p>
</div>
<h2 class="comments_h">Комментарии</h2>
{% for comment in comments %}
<div class="text_content_comment">
  <ul class="date_author_com">
    <li class="date">{{ comment.publish }}</li>
    <li class="author">{{ comment.profile.user.username }}</li>
  </ul>
  <div class="outer">
      <div class="div_avatar">
        <img src={% static comment.profile.avatar %} width="100" height="100" class="avatar">
      </div>
      <p class="comment">{{ comment.body|safe }}</p>
  </div>	
</div>
{% empty %}
{% if user.is_authenticated %}
<div class="text_content_comment" id="no_comments">
  <p class="comment">Пока здесь нет комментариев, вы можете быть первым!</p>
</div>
{% endif %}
{% endfor %}
{% if user.is_authenticated %}
<div class="add_comment">
  <h2>Добавить комментарий:</h2>
  <div class="bbcode_buttons">
    <a href="" name="bold" id="bbcode_b" onClick="insertTextAtCursor(document.getElementById('id_body'), '[b][/b]'); return false;"></a>
    <a href="" name="italic" id="bbcode_i" onClick="insertTextAtCursor(document.getElementById('id_body'), '[i][/i]'); return false;"></a>
    <a href="" name="underline" id="bbcode_u" onClick="insertTextAtCursor(document.getElementById('id_body'), '[u][/u]'); return false;"></a>
  </div>
  <form method="post">
    {% csrf_token %}
    {{ form.body }}
    <br>
    <input type="submit" value="Добавить">
  </form>
</div>
{% else %}
<br>
<div class="text_content_comment" id="login_require">
  <p><a href="{% url 'accounts:django_registration_register' %}">Зарегистрируйтесь</a>, или <a href="{% url 'accounts:login'%}">войдите</a>, чтобы оставлять комментарии</p>
</div>
{% endif %}
{% endblock %}