{% extends 'layout/basic.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'sh_blog/detail.css' %}">
{% endblock %}
{% block title %}Приветствие{% endblock %}
{% block content %}
<div class="text_content">
<h1>Приветствие</h1>
    <ul class="date_author">
      <li class="date">2 мая 2020 г. 12:47</li>
      <li class="author">shrubycow</li>
    </ul>
    <p>Приветствую пользователь и добро пожаловать на мой блог. Меня зовут Александр и я его создатель.
    Главная причина создания этого блога - самообучение разработки логики сайта и, в качестве второстепенной
    задачи, простого веб-дизайна. По сути, данный сайт является  pet-project'ом и, в какой-то степени,
    служит демонстрацией имеющихся у меня на данный момент навыков. Если вы работодатель и находитесь в поиске
    разработчика, то я совсем не прочь представить Вам свою кандидатуру:) В таком случае, думаю, вам будет
    интересно посетить <a href={% url 'sh_blog:detail' 'o-rabote' %}>эту страницу</a>. В любом случае вы
    можете перейти <a href="{% url 'sh_blog:main' %}">на главную</a> и поклацать данный сайт. Приятного
    времяпровождения:)</p>
</div>
{% endblock %}