{% extends 'layout/basic.html' %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'accounts/login.css' %}">
{% endblock %}
{% block content %}
<div class="text_content">
<h1>Смена пароля</h1>
<form method="POST">
    {% csrf_token %}
    {% for error in form.non_field_errors %}
      <p class="errors">{{ error }}</p>
    {% endfor %}
    {% for element in form %}
      <p>
        {{ element.label_tag }}
        <br>
        {{ element }}
      </p>  
    {% endfor %}
    <input type="submit" value="Отправить">
</form>
</div>
{% endblock %}