{% extends 'layout/basic.html' %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'accounts/profile.css' %}">
{% endblock %}
{% block title %}{{user.username}}{% endblock %}
{% block content %}
<div class="text_content">
  <h1>Профиль {{user.username}}</h1>
  <img src="{% static cur_profile.avatar %}" width="150" height="150" class="avatar">
  <ul class="options">
    <li>
      <a href="{% url 'accounts:avatars_change' %}">Сменить аватар</a>
    </li>
    <li><a href="{% url 'accounts:reset' %}">Сменить пароль</a></li>
  </ul>
</div>  
{% endblock %}