h1{
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Exo 2';
    font-style: italic;
}
.text_content{
    float: left;
    margin: 20px 30% 20px 15%;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
}
.avatar{
    float: left;
}
.options A:link{
    text-decoration: none;
    color: #3b4d61;
}
.options A:visited{
    text-decoration: none;
    color: #3b4d61;
}

.options{
    list-style-type: none;
    float: left;
}
.options li{
    margin-bottom: 20px;
}

