h1{
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Exo 2';
    font-style: italic;
}
.errors{
    color: red;
    font-style: italic;
}
.text_content{
    margin: 20px 15% 20px 15%;
    overflow: hidden;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
}
.pass_help  {
    list-style-type: none;
    padding-left: 0px;
    color: grey;
    font-size: 10pt;
}

#id_username, #id_email, #id_password1, #id_password2{
    width: 210px;
}

input{
    margin-right: 5px;
}